.btn-secondary {
    background-color: grey;
    color: white;
  }
  
  .btn-primary {
    background-color: blue;
    color: white;
  }
  
  .btn-success {
    background-color: green;
    color: white;
  }
  
  .btn-danger {
    background-color: red;
    color: white;
  }
  